WCEBleedGen (updated)/
TrainingDataset/
TestingDatasets/
*/YoloDataset/
*/HyperbandLogs/

*/SavedModels/
*/SavedModels1/
*/EvalOutputs/
*/EvalOutputs1/
.venv/
__pycache__/
*.pyc
*.pkl
.vscode/
yolo8n.pt
yolo8m.pt
VAL/
*.md
*.h5
*.keras
*.pt