WCEBleedGen (updated)/
TrainingDataset/
TestingDatasets/
*/YoloDataset/
*/HyperbandLogs/
*/SavedModels/
*/EvalOutputs/
.venv/
__pycache__/
*.pyc
*.pkl
.vscode/
yolo8n.pt
yolo8m.pt
VAL/
*.md
*.h5
*.keras
*.pt